@charset "utf-8";
* {
	padding:0;
	margin:0;
	border:none;
	text-decoration:none;
	list-style:none;
	overflow:hidden;
}
input, button, select, textarea {
	outline:none;
}
textarea {
	font-size:13px;
	resize:none;
}
body,html {
	overflow:inherit;
	width:100%;
	height:100%;
}
#main{
	width:950px;
	height:460px;
	position:relative;
	left:50%;
	margin-left:-475px;
	margin-top:100px;
	background:#39f;
}
.mindiv{
	position:absolute;
	cursor:pointer;
}
.divbox{
	width:100%;
	height:200%;
	position:absolute;
	top:0;
	left:0px;
}
.divbox .boxone{
	width:100%;
	height:50%;
}
.divbox .boxtwo{
	width:100%;
	height:50%;
}
#min_1{
	width:400px;
	height:240px;
	background:#BF1D1A;
	top:0px;
	left:0px;
	position:absolute;
}
#min_1 #box1{
	background:url(../images/banrenma.jpg);
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	top:50%;
	position:absolute;
}
#min_1 #box2{

	text-align:center;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	background:#F06;

}

#min_2{
	width:183px;
	height:240px;
	background:#2DC3C2;
	top:0px;
	left:400px;
}

#min_2 #box1{
	background:url(../images/bingqiling.jpg);
	
}
#min_2 #box2{
	
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	top:50%;
	background:#0CF;
}

#min_3{
	width:367px;
	height:240px;
	background:#2DC3C2;
	top:0px;
	left:583px;
}

#min_3 #box1{
	background:url(../images/jinji.jpg);
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	top:50%;
	position:absolute;
	
}
#min_3 #box2{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	background:#F93;
}

#min_4{
	width:185px;
	height:240px;
	background:#E34546;
	top:240px;
	left:0px;
}
#min_4 #box1{
	background:url(../images/sibadakesi.jpg);
}
#min_4 #box2{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	top:50%;
	background:#6F0;
}
/*
#min_5{
	width:180px;
	height:135px;
	background:#F0640F;
	top:0px;
	left:585px;
}
#min_5 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -585px 0px;
}
#min_5 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -585px 0px;
}
#min_6{
	width:180px;
	height:135px;
	background:#F2AB03;
	top:135px;
	left:585px;
}
#min_6 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -585px -135px;
}
#min_6 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -585px -135px;
}
#min_7{
	width:185px;
	height:185px;
	background:#06B6A1;
	top:0px;
	left:765px;
}
#min_7 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -765px 0px;
}
#min_7 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -765px -0px;
}
#min_8{
	width:150px;
	height:230px;
	background:#2F2F2F;
	top:230px;
	left:0px;
}
#min_8 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) 0px -230px;
}
#min_8 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) 0px -230px;
}
#min_9{
	width:250px;
	height:190px;
	background:#8F8669;
	top:270px;
	left:150px;
}
#min_9 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -150px -270px;
}
#min_9 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -150px -270px;
}
#min_10{
	width:185px;
	height:190px;
	background:#85B32F;
	top:270px;
	left:400px;
}
#min_10 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -400px -270px;
}
#min_10 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -400px -270px;
}
#min_11{
	width:180px;
	height:190px;
	background:#8E5917;
	top:270px;
	left:585px;
}
#min_11 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -585px -270px;
}
#min_11 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -585px -270px;
}
#min_12{
	width:185px;
	height:275px;
	background:#CB266B;
	top:185px;
	left:765px;
}
#min_12 #box1{
	background:url(http://m3.img.libdd.com/farm5/2012/1215/13/DFDD8585CD524FDF7A3D945DCCD60B6B676B048C20740_950_460.JPEG) -765px -185px;
}
#min_12 #box2{
	background:url(http://m3.img.libdd.com/farm4/2012/1215/13/B3958D934DC4B89477EEADB2A1EBC737B683258C50F9F_950_460.JPEG) -765px -185px;
}
*/
.box2content {
	position:relative;
	top:30%;
}
 .title1 {
	font-size: 36px;
	color: #FFF;
}
 .title2 {
	font-size: 24px;
	color: #FFF;
}
 .words {
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	
}
.picscript {
	background-color:#F06;
	position: relative;
	height: 20%;
	top: 80%;
	text-align:center;
	
}
